* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(155, 149, 149);
}

/* -----------------thumbnail ----------------------*/
.thumbnail-container {
    height: 900px;
    display: inline-flex;
    align-items: center;
    background-color: black;

}

.banar-text {
    height: 300px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 0 50px 0 50px;
    padding: 0 50px 0 50px;

}


.responsive {
    width: 100%;
    height: auto;

}

.banar-text button {
    background-color: #DD0000;
    width: 180px;
    height: 60px;
    color: rgb(227, 235, 240);
    font-size: 1.2rem;
    margin-right: 5px;
    border-radius: 4px;
}

.fa-angle-right {
    padding-left: 5px;
}

/*------------- thumbnail end -----------------*/

/************** main start *********************/

.main-container {
    background-color: rgb(176, 178, 180);
    margin: 100px;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 320px;
    height: 300px;
    border: 3px solid indigo;
    border-radius: 5px;
    background-color: rgb(39, 37, 37);
}

.menu-btn button {
    margin: 5px;
    width: 310px;
    height: 90px;
    color: white;
    border-radius: 5px;
    background-color: rgb(228, 46, 46);
    border: 3px solid gray;
    font-size: 1.3rem;
}

.flex-grid-container {
    display: flex;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 10px;
    margin-left: 15px;
    justify-content: center;
    width: 1350px;
    color: rgb(238, 238, 232);
    background-color: rgb(122, 104, 104);
}

.blog {
    margin-bottom: 10px;
    border: 3px solid rgb(243, 248, 247);
    border-radius: 5px;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    justify-content: start;

}

.comment {
    margin-left: 50px;
}

.transfer {
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    border: 3px solid lightgray;
    border-radius: 3px;
    background-color: rgb(214, 205, 192);
    color: rgb(204, 49, 22);
}

/***************** main end ***********************/

/***************** Footer start ************************/

.footer {
    background-color: rgb(19, 18, 18);
    /* width: 100%; */
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color: white;
}

.footer div {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
}

/* hr {
    width: 60%;
} */

.footer-menu span {
    padding: 15px;
}

/* --------------------Match css start--------------------- */

.match-container {
    display: flex;

}

.matches {
    margin-left: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: cadetblue;
    border: 3px solid rgb(40, 42, 202);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.team .country h3 {
    margin: 0px 10px 0px 10px;
}

.match-btn {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    width: 320px;
    height: 300px;
    border: 3px solid indigo;
    border-radius: 5px;
    background-color: rgb(39, 37, 37);

}

.match-btn button {
    width: 320px;
    height: 100px;
    color: white;
    border-radius: 5px;
    background-color: rgb(228, 46, 46);
    border: 3px solid gray;
    font-size: 1.4rem;
}




.country {
    display: inline-block;

}

/******************** Match css end **********************/

/******************** css responsive ********************/


@media only screen and (min-width : 992px) {
    .thumbnail-container {
        display: flex;
    }

    .flex-grid-container {
        display: flex;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* # Tablet */
@media only screen and (max-width: 768px) {
    .thumbnail-container {
        display: inline-flex;
    }

    .flex-grid-container {
        display: flex;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-btn {
        display: flex;
        flex-direction: row;
    }
}

/* # Mobile */
@media only screen and (max-width: 480px) {
    .thumbnail-container {
        display: inline-flex;
    }

    .flex-grid-container {
        display: flex;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-btn {
        display: flex;
        flex-direction: row;
    }
}